.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.card {
  width: 850px;
  background-color: white;
  padding: 20px; 
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.image-container {
  margin-left: -50px;
  margin-right: 70px;
}

.woman-computer{
  width: 400px;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.title{
  margin-bottom: -20px;
}

.list{
  padding-top: 10px;
  font-size: 12px;
}
